# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
venv/

# Log files and PDFs
*.log
*.pdf

# Data directories (you can uncomment if you want to track specific files)
data/csv/
data/statements/

# IDE folders
.vscode/
.idea/

# Misc
*.egg-info/
dist/
build/

# Test files
test/